.navbar {
  position: relative;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.only_picture {
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.gold {
  color: gold !important;
}

.navbar_brand {
  color: gold !important;
  padding-top: 0 !important;
}

